<footer class="footer mt-auto py-3">
     <div class="container">
          <div class="row justify-content-between">
               <div class="col-4">
                    &copy; Brian Bugert 2019 - <a href="https://coolbots7.io">coolbots7.io</a>
               </div>
               <div class="col-4 text-right">
                    <a href="https://gitlab.com/coolbots7/cpsc332"><i class="fab fa-gitlab fa-2x mr-3"></i>See the source on GitLab</a>
               </div>
          </div>
     </div>
</footer>
